/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* css variable  */
:root {
  --header-height: 3rem;

  /* color */
  --first-color: #3e0e12;
  --first-color-dark: #2f0a0d;
  --text-color: #524748;
  --first-color-light: #7b6f71;
  --first-color-lighten: #fbf9f9;

  /* font typrophy    */
  --body-font: "poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bolt: 600;
  --font-bolt: 700;

  /* marrgenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    /* font typrophy    */
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* base */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden; 
  overflow-y: auto;
}

body{
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-size: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 2.5rem;
  height: 100%;
  overflow-x: hidden; 
  overflow-y: hidden;

}

button {
  background-image: none !important;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bolt);

}
ul{
  padding: 0;
}

a{
  text-decoration: none;

}

img{
  max-width: 100%;
  height: auto;
  display: block;

}

/* css class */

.section:nth-child(1){
  padding: 4rem 0 2rem;
}

.section-title,.section-subtitle{
  text-align: center;
}
.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bolt);
}

/* layuot */
.bd-container{
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(216, 66, 66);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0 !important;
  height: 100%;
  width: 100%;
  align-items: center;
}

.nav-text {
  display: none;
}
svg {
  height: 50%;
  width: auto;
}

.nav-item:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.nav-item:hover svg {
  display: none;
}
.nav-item:hover .nav-text  {
  opacity: 1;
  transition: 0.2s;
}

.nav-item:active {
  background-color: rgb(218, 218, 218);
  transition: 0.1s;
}

.button-light {
  color: white;
}

.nav-item{
  margin-bottom: var(--mb-3);
}

.nav-link{
  color: var(--first-color-lighten);
  transition:  0.3s;
}

.nav-link:hover{
  color: var(--first-color-light);
}

.nav-logo, .nav-toggle{color: var(--first-color-lighten);

}

.nav-toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* show menu */
.show-menu{
  top: var(--header-height);
}
.active-link{
  position: relative;

}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.2rem;
  left: 0;
  width: 70%;
  height: 3px;
  background-color: var(--first-color-light);
}

.header {
  padding: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(218, 65, 65);
}

.subheader {
  padding: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: rgb(153, 153, 153);
}

.home{
    background-color:#fff;
    overflow:hidden;
    background-image: url("../images/home.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: none;
}

.home-container{
    position:relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content:center;
    row-gap: 2rem;
}

.home-data{
    color: black;
    font-weight: lighter;
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
    height: 100%;
    width: 100%;
}

.home-profession {
  color: white;
}

#home-picture {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#profile-pic {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.home-name{
    font-size:1.8rem;

}

.home-greeting{
    display: block;
    font-weight: var(--font-bolt);
}

#developer-red {
  color: rgb(218, 65, 65);
  font-weight: bold;  
}

/* Skills section */

.skills-container {
  padding: 10px;
  margin-bottom: 15px;
}

.skills {
  height: auto;
  width: auto;
}

.skills-list {
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px;
  box-shadow:0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07);
}


.skills-title {
  width: 100%;
  display: flex;
  justify-content: center;
}


.stars {
  width: 100%;
  display: flex;
  justify-content: center;
}

.star {
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 10px;
  width: 10px;
}

.off {
  background: white !important;
  border: 1px solid black;
}

#skill-ul {
  font-size: 12px;
}

#languages-ul {
  font-size: 12px;
}

#tools-ul {
  font-size: 12px;
}

#soft-skills-ul {
  font-size: 12px;
}

li {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Project section */

.projects {
  width: auto;
  height: auto;
  margin-bottom: 50px;
}

#projects-grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);

}

.project {
  width: 100%;
  height: 200;
  display : flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
  background-blend-mode: multiply;
  background-color: #5e5d5d;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07);
  border-radius: 5px;
}


#one {
  background-image: url('/images/flip.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#two {
  background-image: url('/images/concurrent.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#three {
  background-image: url('/images/larry.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#four {
  background-image: url('/images/treatment.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#five {
  background-image: url('/images/winnerscup.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#six {
  background-image: url('/images/pwm.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stack {
  color: white;
  display: none;
  font-size: 10px;
}

.project-link {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.project-link:hover {
  transition: 0.2s ease-out;
  transform: scale(1.1);
}

.github {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  color: rgb(218, 65, 65);
  text-align: center;
  padding: 10px;
}

.github p {
  font-size: 10px;
  color: white;
  letter-spacing: 0ch;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.project-link:hover .project-title {
  opacity: 0;
  transition: 0.2s ease-out;
}

.project-link:hover .github {
  opacity: 1;
  transition: 0.2s ease-in;
}

.project-link:hover .stack {
  display: block;
  position: relative;
}



.active {
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}

/* Experiences section*/

#experiences-container {
  padding: 5px;
}



.education-title {
  color: rgb(218, 65, 65);
  display: block;
}

.education-date {
  font-size: 12px;
  color: rgb(148, 148, 148);
}

.education li {
  font-size: 18px;
}

.education ul {
  list-style-type: circle;
}

.subtext {
  font-size: 12px;
}

.job-title {
  color: grey;
  font-size: 12px;
}

.job-desc li {
  font-size: 12px;
  width: 100%;
  text-align: start;
}

.experience-desc {
  font-size: 12px;
}

.tech-stack {
  font-size: 12px;
  color: rgb(218, 65, 65);
}



.technical-experience {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07);
  padding: 10px;
  margin-bottom: 20px;
}

/* Contact section */


.form-container {
  display: grid;
  background: url("/images/ricepaper.jpg");
  filter: sepia(25%);
  height: 225px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "head head head stamp"
    "form form form blank"
    "form form form to";
  gap: 1px;
  padding: 4px;
  justify-items: center;
}

#contact {  
  transform: rotate(0.5deg);
  background-image: 
    repeating-linear-gradient(
      -45deg,
      antiquewhite 0px,
      antiquewhite 15px,
      #3498db 15px, 
      #3498db 30px,
      antiquewhite 30px,
      antiquewhite 45px,
      #e74c3c 45px,
      #e74c3c 60px
    );
  margin-bottom: 100px;
  height: 250px;
  width: 100%;
  max-height: 600px;
  background-color: #E2C3A0;
  border-radius: 5px;
  padding: 15px;
  display: grid;
} 

#contact h1 {
  color: black;
  border-bottom: none;
  grid-area: head;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

#contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 95%;
  max-width: 450px;
  grid-area: form;
}

#stamp {
  width: 40px;
  height: auto;
  grid-area: stamp;
}

#blank {
  grid-area: blank;
}

#blank2 {
  grid-area: blank2;
}

#blank3 {
  grid-area: blank3;
}

#to {
  grid-area: to;
  font-family: 'Prata', serif;
  line-height: 12px;
}

.form-element {
  margin-bottom: 2px;
}

#msg-area {
  min-height: 4em;
}


/* Ipad */
@media only screen and (min-width: 570px) {

  .nav-item:hover .nav-text {
    transition: 0.4s;
    display: block;
  }
  /*home container*/
  .home-container {
    grid-template-columns: 1fr 1fr;
  }

  .home-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
  }
  li {
    width: 100%;
    justify-content: space-between;
  }

  .home-greeting {
    font-size: 30px;
  }

  .home-name {
    font-size: 30px;
  }

  .home-profession {
    font-size: 30px;
  }

  /* skills container */

  .skills-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }

  #experiences-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
  }

  .technical-experience-wrapper {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  
  /* projects container */

  #projects-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
  }

  .project {
    font-size: 25px;
  }

  /* form */ 

  #contact {
    height: 300px;
  }

  .form-container {
    height: 275px;
    justify-items: start;
  }

}

/* Desktop */
@media only screen and (min-width: 1150px)  {

  /* home container */


  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-container {
    width: 100%;
    margin: 0;
    padding: 50px;
  }

  #home-picture {
    width: 100%;
    height: 100%;
  }

  .home-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 100%;
  }
  li {
    width: 100%;
    justify-content: space-between;
  }

  .home-greeting {
    font-size: 300%;
  }

  .home-name {
    font-size: 300%;
    width: 100%;  
  }

  .home-profession {
    font-size: 35px;
  }

  .spacer {
    height: 50px;
  }


  #projects-grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
  }

  .l-header{
    top: 0;
    bottom: auto;
  }


    /* Project container */ 
    .project {
      font-size: 35px;
    }
  
    /* Experience container */

    /* Contact container */ 

  #contact {
    height: 600px;
  }

  #contact h1 {
    font-size: 75px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
  }

  .form-container {
    height: 575px;
    justify-items: start;
    align-items: center;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "head head blank2 blank2 stamp"
      "blank blank blank blank blank"
      "form form form form to"
      "form form form form to"
      "form form form form to"
      ;
  }

  .form-element {
    width: auto;
  }

  #msg-area {
    height: 50em;
    width: auto;
    min-height: 10em;
    max-width: 650px;
  }

  #form-submit {
    width: auto;
  }

  #stamp {
    align-items: end;
    height: 200px;
    width: auto;
  }

  #contact p {
    font-size: 25px;
    line-height: 40px;
    
  }

  #contact-form {
    height: 100%;
    width: 100%;
  }
}
 